﻿# Ignore publish output
Publish/

# Ignore React build output and dependencies
BankStatementAnalytics/wwwroot/
Client/node_modules/
/BankStatementAnalytics/bin
/BankStatementAnalytics/obj
/BankStatementAnalytics/Uploads
/.vs
